fieldset, input, textarea {
	border: 0;
}

input, textarea {
	width: 100%;
}

a.homepage-link, fieldset.search {
	display: none;
}

textarea.hidden {
	display: none;
}

textarea.markdown {
	height: 70vh;
	resize: none;
	overflow: auto;
}

*:focus {
	outline: 0;
}

section#text {
	border: 1px solid black;
	color: white;
	padding: 5px;
	color: black;
	height: 3em;
}

[contenteditable=true]:empty:before {
	content: attr(placeholder);
	color: darkgray;
}

[type=submit] {
	border: 1px solid black;
	margin: 10px;
}