<link href="/css/editor.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/js/deps.js" type="text/javascript"></script>
<script src="/js/editor.js" type="text/javascript"></script>

<div id="editor"></div>

<script type="text/javascript">
	editor = new Dante.Editor({
		el: "#editor",
		upload_url: "/api/images.json", //it expects an url string in response like /your/server/image.jpg or http://app.com/images/image.jpg
		store_url: "/api/save" //post to save
	});
	editor.start()
</script>