<h2>Hello {{.Data.Name}}</h2>
<p>We have no idea how long it has been since your last visit, because we don't track that. Have a nice day!</p>
<paper-button class="edit hover" raised>
	<a href="/post/new">Create new blog post</a>
</paper-button>
<paper-button class="other hover">
	<a href="/user/blogsettings">Blog settings</a>
</paper-button>
<paper-button class="other hover">
	<a href="/user/settings">Settings</a>
</paper-button>
{{if .Data.Posts}}
<h2>Your posts</h2>
{{range .Data.Posts}}
<ul>
	<li>
		<a href="/post/{{.Slug}}">{{.Title}}</a> <span class="postviews">views: {{.Viewcount}}</span>
		<p>
		{{if ReadOnly .}}
			<paper-button class="edit hover"><a class="readonly" href="/post/{{.Slug}}/edit">Edit</a></paper-button>(<small>This post contains only HTML, but your current settings have Markdown enabled. You cannot edit the post before you switch back to HTML.</small>)
		{{else}}
			<paper-button class="edit hover"><a href="/post/{{.Slug}}/edit">Edit</a></paper-button>
		{{end}}
		{{/* Before modifying the line below please see the additional comments on the bottom of this template */}}
		<paper-button class="delete hover"><a id="{{.Slug}}" class="delete" href="/post/{{.Slug}}/delete">Delete</a></paper-button>
		{{if .Published}}
			<paper-button class="other hover"><a href="/post/{{.Slug}}/unpublish">Unpublish</a></paper-button>
		{{else}}
			<paper-button class="publish hover"><a href="/post/{{.Slug}}/publish"><strong>Publish</strong></a></paper-button>
		{{end}}
		</p>
	</li>
</ul>
{{end}}
{{end}}
<script type="text/javascript">
	// NOTICE: If you modify the delete <a> element, you will need to pass the class="delete" and the slug generator onto the new one.
	// Otherwise your localStorage will be messy and may cause some confusion if you create a entry with a same title as before, as
	// the old values are still intact in your cache.
	//
	// This small JS snippet attaches a click event listener
	// to delete buttons so that the localStorage content will be wiped out
	// upon deletion as well.
	// Native .forEach did not work for a reason beyond my comprehension.
	var index
	var links = document.getElementsByClassName("delete")
	for (index = 0; index < links.length; ++index) {
		links[index].addEventListener("click", function(event) {
			localStorage.removeItem(event.target.id);
		}, false)
	}
</script>