<paper-button class="edit hover" raised>
	<a href="/post/new">Create new blog post</a>
</paper-button>
<paper-button class="other hover">
	<a href="/user/blogsettings">Blog settings</a>
</paper-button>
<paper-button class="other hover">
	<a href="/user/settings">Settings</a>
</paper-button>
<h1>Settings</h1>
<form method="post" action="/user/settings">
	<fieldset>
		<input type="hidden" name="email" value="{{ .Data.Email }}">
		<label for="avatar">Avatar</label>
		<p>The Avatar image that will be displayed on your profile and posts.</p>
		<input type="url" name="avatar" id="avatar" value="{{ .Data.Avatar }}" placeholder="Avatar">
		<button type="submit">Save</button>
	</fieldset>
</form>